input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

textarea {
    height: 12rem;
}

button[type=submit] {
    background-color: #1e40af;
    color: #dbeafe;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1.5rem;
}

button[type=submit]:hover {
    background-color: #1d4ed8;
}

.block-container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://i.ibb.co/wYhk4kz/image-1.png); */
    min-height: 200vh;
    background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#MainMenu {visibility: hidden;}
    footer {visibility: hidden;}
    header {visibility: hidden;}

div[data-testid="stHorizontalBlock"] > div:nth-of-type(2) {
    background-color: #0E1117;
    text-align: center;
    justify-content: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

div[data-testid="stHorizontalBlock"] > div:nth-of-type(1) {
    background-color: #0E1117;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://i.ibb.co/wYhk4kz/image-1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 200vh;
    text-align: left;
    justify-content: left;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

div[data-testid="stHorizontalBlock"] > div:nth-of-type(3) {
    background-color: #0E1117;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(https://i.ibb.co/wYhk4kz/image-1.png);
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 200vh;
    text-align: center;
    justify-content: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

div[data-testid="stImage"] {
    justify-content: center;
    background-attachment:fixed;
}

.stTabs [data-baseweb="tab-list"] {
    justify-content: center;
}

.stTabs [data-baseweb="tab"] {
    text-align: center;
}

.stTabs [aria-selected="true"] {
    text-align: center;
}

div.stLinkButton {
    color: f44336;
    padding: 14px 25px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
}